.todo__headerWrapper {
    max-width: 550px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.todo__headerTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}

.todo__headerForm {
    display: flex;
    min-width: 550px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.todo__headerInput {
    padding: 10px 10px;
    min-width: 517px;
    outline: none;
}

.todo__headerAddButton {
    padding: 5px 10px;
    background-color: rgb(37, 120, 243);
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.todo__headerFilters {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.todo__headerFilterBtn {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px rgb(37, 120, 243) solid;
    cursor: pointer;
    font-size: 16px;
}

.todo__headerFilterBtn__active {
    padding: 5px;
    background-color: rgb(37, 120, 243);
    border: 2px rgb(255, 255, 255) solid;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

